<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TokenManagerServlet</servlet-name>
        <servlet-class>za.ac.tut.web.TokenManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndTestingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EndTestingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>CompName</param-name>
        <param-value>Siri</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>TokenManagerServlet</servlet-name>
        <url-pattern>/TokenManagerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndTestingServlet</servlet-name>
        <url-pattern>/EndTestingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllServlet</servlet-name>
        <url-pattern>/ViewAllServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenServlet</servlet-name>
        <url-pattern>/GenServlet.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>403</error-code>
        <location>/res_not_found.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>AuditorConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>AuditorResources</web-resource-name>
            <description>These are auditor resources</description>
            <url-pattern>/auditor_menu.jsp</url-pattern>
            <url-pattern>/enter_auditor.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Authenticate Auditor</description>
            <role-name>auditor</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ManagerConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>ManagerResources</web-resource-name>
            <description>These are manager resources</description>
            <url-pattern>/manager_menu.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Authenticate Manager</description>
            <role-name>manager</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>This is the auditor role.</description>
        <role-name>auditor</role-name>
    </security-role>
    <security-role>
        <description>This is the manager role</description>
        <role-name>manager</role-name>
    </security-role>
     <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login_error.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
